---
permalink: 404.html
---

{% extends "src/base.njk"%}

{% block head %}
  <title>Tramites Departamentales | Red Ciudadana</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content%}
        <section class="home-slider position-relative mb-30  px-4">
            <div class="container">
                <div class="home-slide-cover mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap" style="background-image: url(/assets/imgs/red/elementos/slider/SLIDER-31.png)">
                            <div class="slider-content">
                                <h1 class="display-3 mb-40">
                                    Catálogo Municipal <br>de Trámites Verapaz
                                </h1>
                                <p class="mb-65">
                                    Te damos la bienvenida al portal de servicios <br>
                                    donde podrás realizar tus trámites de manera <br>
                                    rápida, ágil y sencilla.
                                </p>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap" style="background-image: url(/assets/imgs/red/elementos/slider/SLIDER-31.png)">
                            <div class="slider-content">
          
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </section>
        <!--End category slider-->
        <section class="banners mb-25  px-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="new_banners">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-08.png">
                            <h4>
                                Infraestructura y bienvenida
                            </h4>
                            <p style="margin-bottom: 20px!important;">
                                Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh
                                anned dreidak ut
                            </p>
                            <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="new_banners">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-09.png">
                            <h4>
                                Acceso a Salud
                            </h4>
                            <p style="margin-bottom: 20px!important;">
                                Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh
                                anned dreidak ut
                            </p>
                            <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-flex">
                        <div class="new_banners">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-10.png">
                            <h4>Educación</h4>
                            <p style="margin-bottom: 20px!important;">
                                Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh
                                anned dreidak ut
                            </p>
                            <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End banners-->
        <!--Categorias-->
        <section class="featured section-padding  px-4">
            <div class="container">
                <div class="row mb-40 mt-40">
                    <div class="d-flex">
                        <h4>¿Qué información necesitas?</h4>
                        <a class="btn btn-xs ml-40"  href="/categorias/index.html">Ver Más<i class="fi-rs-arrow-small-right"></i><a/>
                    </div>
                </div>
                <div class="row mb-20 mt-40">
                    
                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-08.png">
                            <div>
                                <h6>Infraestructura y Vivienda</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-09.png">
                            <div>
                                <h6>Acceso a Salud</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-17.png">
                            <div>
                                <h6>Violencia y Abuso</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-11.png">
                            <div>
                                <h6>Medio Ambiente y Recursos Naturales</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-10.png">
                            <div>
                                <h6>Educación</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-16.png">
                            <div>
                                <h6>Manipulación de Alimentos, Animales y Vegetales</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-13.png">
                            <div>
                                <h6>Trabajo de Pensiones</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-12.png">
                            <div>
                                <h6>Suministro de Energía</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-18.png">
                            <div>
                                <h6>Seguridad, Mediación y Diálogo</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-14.png">
                            <div>
                                <h6>Exportaciones, importaciones, asociaciones y empresas</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-15.png">
                            <div>
                                <h6>Economía y Finanzas</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-cats">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-19.png">
                            <div>
                                <h6>Transporte</h6>
                                <p>Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit, sed diam nonummy nibh</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </section>
        <!--Municipalidades-->
        <section class="featured section-padding-60 px-4" style="background-color:#e3ebf5">
            <div class="container">
                <div class="d-flex">
                        <h4>Municipalidades</h4>
                        <a class="btn btn-xs ml-40"  href="/categorias/index.html">Ver Más<i class="fi-rs-arrow-small-right"></i><a/>
                    </div>
                <div class="row mb-20 mt-40">

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-municipales">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-20.png">
                            <h6>Nombre de la municipalidad</h6>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-municipales">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-20.png">
                            <h6>Nombre de la municipalidad</h6>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-12">
                        <div class="cuadros-municipales">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-20.png">
                            <h6>Nombre de la municipalidad</h6>
                        </div>
                    </div>

                </div>
                
            </div>
        </section>
{% endblock %}