---
permalink: "/estadisticas/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Red Ciudadana - Contacto</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

            <div class="page-header breadcrumb-wrap px-4">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="/index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                        <span></span> Estadísticas
                    </div>
                </div>
            </div>

            <div style="background-image:url('/assets/imgs/red/RECUADROS-32.png');background-size:cover">
                <div class="container py-4">
                    <div class="archive-header-2 text-center">
                        <img class="img-header" src="/assets/imgs/red/elementos/iconos/ICONO-24.png">
                        <h4 class="display-4 " style="width:80%; margin:0 auto 50px auto"> Estadísticas
                        </h4>
              

                    </div>
                </div>
            </div>

{% endblock %}

