---
permalink: index.html
---

{% extends "src/base.njk"%}

{% block head %}
  <title>Portal General AIP | Red Ciudadana</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content%}
        <section class="home-slider position-relative mb-30  px-4">
            <div class="container">
                <div class="home-slide-cover mt-30">
                    <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                        <div class="single-hero-slider single-animation-wrap" style="background-image: url(/assets/imgs/red/elementos/02_ELEMENTOS/02_ELEMENTOS/01_SLIDER/AIP-30.png)">
                            <div class="slider-content">
                                <h3 class="display-5 mb-40" style="line-height: 46px; margin-bottom: 10px!important;">
                                    Portal de Acceso<br> 
                                    a la información pública
                                </h3>
                                <p class="mb-65" style="line-height: 35px; color: #1C1D1A;">
                                    Te damos la bienvenida al portal AIP donde podrás
                                    <br>
                                    realizar tus trámites de manera sencilla
                                </p>
                            </div>
                        </div>
                        <div class="single-hero-slider single-animation-wrap" style="background-image: url(/assets/imgs/red/elementos/02_ELEMENTOS/02_ELEMENTOS/01_SLIDER/AIP-30.png)">
                            <div class="slider-content">
          
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </section>
        <!--End category slider-->

        <!--Infraestructura y bienvenida-->
        <!-- <section class="banners mb-25  px-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="new_banners h-100">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-08.png">
                            <h4>
                                Trámites personales
                            </h4>
                            <p style="margin-bottom: 20px!important;" class="text-center">
                                Accede a toda la información necesaria para realizar tus trámites personales de manera rápida y eficiente
                            </p>
                            <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="new_banners h-100">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-09.png">
                            <h4>
                                Busco Empleo
                            </h4>
                            <p style="margin-bottom: 20px!important;" class="text-center">
                                Facilitamos tu camino hacia nuevas oportunidades laborales con información detallada sobre los trámites necesarios para buscar y obtener empleo.
                            </p>
                            <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 d-md-none d-lg-flex">
                        <div class="new_banners h-100">
                            <img src="/assets/imgs/red/elementos/iconos/ICONO-10.png">
                            <h4>Empresas</h4>
                            <p style="margin-bottom: 20px!important;" class="text-center">
                                Ayudamos a emprendedores y empresarios a manejar los trámites necesarios para operar y crecer sus negocios en Guatemala.
                            </p>
                            <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--End banners-->

        <!--Categorias-->
        <section class="featured section-padding  px-4">
            <div class="container">
                <div class="row mb-40 mt-40">
                    <div class="d-flex">
                        <h4>¿Qué información necesitas?</h4>
                        <a class="btn btn-xs ml-40"  href="/instituciones/index.html">Ver Más<i class="fi-rs-arrow-small-right"></i><a/>
                    </div>
                </div>
                <div class="row mb-20 mt-40">
                    
                    {% for item in collections.ministerios | limit(15) %}
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0 mb-40">
                        <a href="{{item.url}}"><div class="h-100 hover_gray banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay="0">
                            <div class="banner-icon">
                                <img src="/assets/imgs/red/elementos/02_ELEMENTOS/02_ELEMENTOS/02_ICONOS/AIP-43.png" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">{{item.data.instituciones.name}}</h3>
                            </div>
                        </div></a>
                    </div>
                    {% endfor %}
                    
                </div>
                
            </div>
        </section>
        <!--CATEGORIAS ESPECIFICAS-->
        <!-- <section class="featured section-padding">
            <div class="container">
                <div class="row mb-40 mt-40">
                    <div class="d-flex">
                        <h4>¿Qué información necesitas?</h4>
                        <a class="btn btn-xs ml-40"  href="/instituciones/index.html">Ver Más<i class="fi-rs-arrow-small-right"></i><a/>
                    </div>
                </div>
                <div class="row mb-20 mt-40 justify-content-center">
                    {% for item in collections.categoriaesp2 | limit(10) %}
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0 mb-40">
                        <a href="{{item.url}}"><div class="h-100 banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay="0">
                            <div class="banner-icon">
                                {% for cat in collections.categorias2%}
                                {% if cat.data.categoria2.id == item.data.categoriaesp2.category | lastSlash %}
                                    {% if cat.data.categoria2.id == "27" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-08.png" alt="" />

                                    {% elif cat.data.categoria2.id == "28" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-09.png" alt="" />

                                    {% elif cat.data.categoria2.id == "29" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-10.png" alt="" />

                                    {% elif cat.data.categoria2.id == "30" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-11.png" alt="" />

                                    {% elif cat.data.categoria2.id == "31" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-12.png" alt="" />

                                    {% elif cat.data.categoria2.id == "32" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-13.png" alt="" />

                                    {% elif cat.data.categoria2.id == "33" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-14.png" alt="" />

                                    {% elif cat.data.categoria2.id == "34" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-15.png" alt="" />

                                    {% elif cat.data.categoria2.id == "35" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-16.png" alt="" />

                                    {% elif cat.data.categoria2.id == "36" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-17.png" alt="" />

                                    {% elif cat.data.categoria2.id == "37" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-18.png" alt="" />

                                    {% elif cat.data.categoria2.id == "38" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-19.png" alt="" />

                                    {% elif cat.data.categoria2.id == "39" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-21.png" alt="" />

                                    {% elif cat.data.categoria2.id == "40" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-22.png" alt="" />

                                    {% elif cat.data.categoria2.id == "41" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-23.png" alt="" />

                                    {% elif cat.data.categoria2.id == "42" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-24.png" alt="" />

                                    {% elif cat.data.categoria2.id == "43" %}
                                        <img  src="/assets/imgs/red/elementos/iconos/ICONO-25.png" alt="" />
                                        
                                    {%endif%}

                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">{{item.data.categoriaesp2.name}}</h3>
                            </div>
                        </div></a>
                    </div>
                    {% endfor %}
                    <a class="btn col-lg-2"  href="/categoriasesps/index.html">Ver Más<a/>
                </div>
            </div>
        </section> -->
{% endblock %}