---
permalink: "instituciones/index.html"
---
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Catálogo de Trámites | Instituciones</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/ELEMENTOS/faviconv2.png" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css?v=5.3" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>


    {% block head %}
    {% endblock %}
</head>

<body >
    <header class="header-area header-style-1 header-height-2 px-4">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/index.html"><img src="/ELEMENTOS/ELEMENTOS/02_LOGOTIPOS/GOBIERNO.png" alt="logo" /></a>
                    </div>
                    <div class="header-right justify-content-end">
                        
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <!--div class="search-location">
                                    <form action="#">
                                        <select class="select-active">
                                            <option>Your Location</option>
                                            <option>Alabama</option>
                                            <option>Alaska</option>
                                            <option>Arizona</option>
                                            <option>Delaware</option>
                                            <option>Florida</option>
                                            <option>Georgia</option>
                                            <option>Hawaii</option>
                                            <option>Indiana</option>
                                            <option>Maryland</option>
                                            <option>Nevada</option>
                                            <option>New Jersey</option>
                                            <option>New Mexico</option>
                                            <option>New York</option>
                                        </select>
                                    </form>
                                </div-->
                                <div class="header-action-icon-2">
                                    <a href="https://www.facebook.com/comisiongaeoficial/" class="nav-link-social icono-link" target="_blank"><i class="fab fa-facebook-f " style="padding-right:1rem" aria-hidden="true" ></i></a>              
                                </div>
                                <div class="header-action-icon-2">
                                    <a href="https://twitter.com/ComisionGAE" class="nav-link-social icono-link" target="_blank"><i class="fab fa-twitter " style="padding-right:1rem" aria-hidden="true" ></i></a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href="https://www.instagram.com/comisiongaeoficial/" class="nav-link-social icono-link" target="_blank"><i class="fab fa-instagram " style="padding-right:1rem" aria-hidden="true" ></i></a>
                                </div>
                                <!--div class="header-action-icon-2">
                                    <a href="page-account.html">
                                        <img class="svgInject" alt="Nest" src="/assets/imgs/theme/icons/icon-user.svg" />
                                    </a>
                                    <a href="page-account.html"><span class="lable ml-0">Account</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li>
                                                <a href="page-account.html"><i class="fi fi-rs-user mr-10"></i>My Account</a>
                                            </li>
                                            <li>
                                                <a href="page-account.html"><i class="fi fi-rs-location-alt mr-10"></i>Order Tracking</a>
                                            </li>
                                            <li>
                                                <a href="page-account.html"><i class="fi fi-rs-label mr-10"></i>My Voucher</a>
                                            </li>
                                            <li>
                                                <a href="shop-wishlist.html"><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a>
                                            </li>
                                            <li>
                                                <a href="page-account.html"><i class="fi fi-rs-settings-sliders mr-10"></i>Setting</a>
                                            </li>
                                            <li>
                                                <a href="page-login.html"><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/index.html"><img height="70px!important" src="/ELEMENTOS/ELEMENTOS/02_LOGOTIPOS/GOBIERNO.png" alt="logo" /></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <!--div class="main-categori-wrap d-none d-lg-block">
                            <a class="categories-button-active" href="#">
                                <span class="fi-rs-apps"></span> <span class="et">Categorías</span>
                                <i class="fi-rs-angle-down"></i>
                            </a>
                            <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        {% for category in collections.categorias2 | limit(5)%}
                                        <li>
                                            <a href="{{category.url}}"> <img src="/assets/imgs/ICONOSpng-13.png" alt="" />{{category.data.categoria2.name}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="end">
                                        {% for category in collections.categorias2 | limitPart(5,10)%}
                                        <li>
                                            <a href="{{category.url}}"> <img src="/assets/imgs/ICONOSpng-13.png" alt="" />{{category.data.categoria2.name}}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <a href="/categorias/index.html"><div class="more_categories"><span class="icon"></span> <span class="heading-sm-1">Ver más</span></div></a>
                            </div>
                        </div-->
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                            <nav>
                                <ul>
                                    <li >
                                        <a class="categories-button-active btn text-white d-flex" style="align-items:center" href="#">
                                            <span class="fi-rs-apps mx-2"></span> <span class="et">Categorías</span>
                                            <i class="fi-rs-angle-down"></i>
                                        </a>
                                        <ul class="sub-menu px-4 " style="padding:10px 15px!important">
                                            <div class="d-flex categori-dropdown-inner">
                                                <ul class="mx-2">
                                                    {% for category in collections.categorias2 | limit(5)%}
                                                    <li class="item-drop">
                                                        {% if category.data.categoria2.id == "27" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-08.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "28" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-09.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "29" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-10.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "30" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-11.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "31" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-12.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "32" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-13.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "33" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-14.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "34" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-15.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "35" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-16.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "36" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-17.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "37" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-18.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "38" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-19.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "39" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-21.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "40" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-22.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "41" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-23.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "42" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-24.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "43" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-25.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <ul class="end mx-2">
                                                    {% for category in collections.categorias2 | limitPart(5,10)%}
                                                    <li class="item-drop">
                                                        {% if category.data.categoria2.id == "27" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-08.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "28" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-09.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "29" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-10.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "30" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-11.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "31" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-12.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "32" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-13.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "33" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-14.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "34" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-15.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "35" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-16.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "36" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-17.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "37" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-18.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "38" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-19.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "39" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONO-21.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "40" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONOS-22.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "41" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONOS-23.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "42" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONOS-24.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                        {% if category.data.categoria2.id == "43" %}
                                                            <img style="height:40px;padding:4px" alt="" src="/assets/imgs/red/elementos/iconos/ICONOS-25.png" alt="" /><a href="{{category.url}}">{{category.data.categoria2.name}}</a>
                                                        {%endif%}
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                
                                            </div>
                                            <div class="d-flex justify-content-center mt-20">
                                                <a href="/categorias/index.html" class="btn text-align-center">Ver más</a>
                                            </div>
                                            
                                            
                                        </ul>
                                    </li>
                                    <li><a href="/index.html">Inicio</a></li>
                                    <li><a href="/queescatalogo/index.html">¿Qué es el Catálogo de Trámites?</a></li>
                                    <li class="position-static">
                                        <a href="#">Instituciones<i class="fi-rs-angle-down"></i></a>
                                        <ul class="mega-menu">
                                            <li class="sub-mega-menu sub-mega-menu-width-33">
                                                <ul>
                                                    {% for institucion in collections.ministerios | limit(5)%}
                                                    <li><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></li>
                                                    {% endfor%}
                                                </ul>
                                            </li>
                                            <li class="sub-mega-menu sub-mega-menu-width-33">
                                                <ul>
                                                    {% for institucion in collections.ministerios | limitPart(6,11)%}
                                                    <li><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></li>
                                                    {% endfor%}
                                                </ul>
                                            </li>
                                            <li class="sub-mega-menu sub-mega-menu-width-34">
                                                <ul>
                                                    {% for institucion in collections.ministerios | limitPart(11,16)%}
                                                    <li><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></li>
                                                    {% endfor%}
                                                    {% for institucion in collections.instituciones_comp%}
                                                        {% if institucion.data.instituciones.id == "154"%}
                                                        <li><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></li>
                                                        {%endif%}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <a href="/instituciones/index.html" class="btn">Ver más</a>
                                        </ul>
                                        
                                    </li>
                                    <li><a href="/estadisticas/index.html">Estadísticas</a></li>
                                    <li><a href="/quejas.html">¿Necesitas Ayuda?</a></li>
                                    <li><a href="/contacto/index.html">Contacto</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--div class="hotline d-none d-lg-flex">
                        <img src="/assets/imgs/theme/icons/icon-headphone.svg" alt="hotline" />
                        <p>1900 - 888<span>24/7 Support Center</span></p>
                    </div-->
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/index.html"><img style="height:70px!important" src="/ELEMENTOS/ELEMENTOS/02_LOGOTIPOS/GOBIERNO.png" alt="logo" /></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li><a href="/index.html">Inicio</a></li>
                            <li><a href="/queescatalogo/index.html">¿Qué es el Catálogo de Tramites?</a></li>
                            <li><a href="/categorias/index.html">Categorías</a></li>
                            <li><a href="/instituciones/index.html">Instituciones</a></li>
                            <li><a href="/estadisticas/index.html">Estadísticas</a></li>
                            <li><a href="/quejas.html">¿Necesitas Ayuda?</a></li>
                            <li><a href="/quejas.html">Contacto</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <!--div class="mobile-header-info-wrap">
                    <div class="single-mobile-header-info">
                        <a href="page-contact.html"><i class="fi-rs-marker"></i> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login.html"><i class="fi-rs-user"></i>Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
                    </div>
                </div-->
                <div class="mobile-social-icon mb-50">
                    <h6 class="mb-20">Síguenos</h6>
                    <a target="_blank" href="https://www.facebook.com/comisiongaeoficial/"><img src="/assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                    <a target="_blank" href="https://twitter.com/ComisionGAE"><img src="/assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                    <a target="_blank" href="https://www.instagram.com/comisiongaeoficial/"><img src="/assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                </div>
                <!--div class="site-copyright">Copyright 2022 © Nest. All rights reserved. Powered by AliThemes.</div-->
            </div>
        </div>
    </div>
    <!--End header-->
    <main class="main px-4">
        <div class="sidebar d-flex">
            <div><a class="btn" href="/quejas.html">Reporta</a></div>
        </div>
        <section class="hero-3 position-relative align-items">
            <h2 class="mb-30 text-center text-white">Instituciones</h2>
            <h6 class="text-white">El catálogo cuenta con {{collections.instituciones_comp | length}} instituciones</h6>
        </section>
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                    <span></span> Instituciones
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">

                <div class="row mb-40 justify-content-center d-flex" style="align-items:center">
                    <div class="col-lg-9 col-sm-12">
                        <div >
                            <form action="#" class="m-auto">
                                <input class="search-ins" autocomplete="off" id="search-instituciones" type="search" placeholder="Busca alguna Institución..." />
                            </form>
                        </div>    
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="my-4">
                            <select class="select-filtro" id="filtro" name="select" onChange="filter()">
                                <option value="todos">Ver Todos</option>
                                <option value="ministerios">Ministerios</option>
                                <option value="comisionados">Comisiones</option>
                                <option value="secretariados">Secretarías</option>
                                <option value="autoridades">Autoridades</option>
                                <option value="consejos">Consejos</option>
                                <option value="defensorias">Defensorías</option>
                                <option value="fondos">Fondo</option>
                                <option value="gobernaciones">Gobernaciones</option>
                                <option value="coordinadoras">Coordinadoras</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="container-all">
                    <div id="all" class="row vendor-grid">
                        {% for institucion in collections.instituciones_comp%}

                        <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="vendor-wrap style-2 mb-40">
                                <div class="product-badges product-badges-position product-badges-mrg ">
                                    <span class="hot">Institución</span>
                                </div>
                                <div class="vendor-img-action-wrap">
                                    <div class="vendor-img">
                                        <a href="{{institucion.url}}">
                                            <img class="default-img" src="/assets/imgs/red/elementos/iconos/ICONO-20.png" alt="" />
                                        </a>
                                    </div>
                                    <!--div class="mt-10">
                                        <span class="font-small total-product">380 products</span>
                                    </div-->
                                </div>
                                <div class="vendor-content-wrap w-100">
                                    <div class="mb-30 mt-30">
                                        <!--div class="product-category">
                                            <span class="text-muted">Since 2012</span>
                                        </div-->
                                        <div class="overflow-hidden" style="height:60px">
                                            <h4 class="mb-5"><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></h4>
                                        </div>
                                        <!--div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div-->
                                        <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
                                            <ul class="contact-infor text-muted">
                                                <div  >
                                                    <li><p class="text-overflow">{{institucion.data.instituciones.description}}</p></li>
                                                </div>
                                                <!--li><img src="assets/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Call Us:</strong><span>(+91) - 540-025-124553</span></li-->
                                            </ul>
                                            <a href="{{institucion.url}}" class="btn btn-xs">Ver más <i class="fi-rs-arrow-small-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end vendor card-->

                        {% endfor %}
                    </div>

                    <div id="ministerio" class="row vendor-grid">
                        {% for institucion in collections.ministerios%}

                        <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="vendor-wrap style-2 mb-40">
                                <div class="product-badges product-badges-position product-badges-mrg ">
                                    <span class="hot">Institución</span>
                                </div>
                                <div class="vendor-img-action-wrap">
                                    <div class="vendor-img">
                                        <a href="{{institucion.url}}">
                                            <img class="default-img" src="/assets/imgs/red/elementos/iconos/ICONOS-59.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="vendor-content-wrap w-100">
                                    <div class="mb-30 mt-30">
                                        <div class="overflow-hidden" style="height:60px">
                                            <h4 class="mb-5"><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></h4>
                                        </div>
                                        <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
                                            <ul class="contact-infor text-muted">
                                                <div class="overflow-hidden" style="height:45px">
                                                    <li><p class="text-overflow">{{institucion.data.instituciones.description}}</p></li>
                                                </div>
                                            </ul>
                                            <a href="{{institucion.url}}" class="btn btn-xs">Ver más <i class="fi-rs-arrow-small-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end vendor card-->

                        {% endfor %}
                    </div>

                    <div id="comision" class="row vendor-grid">
                        {% for institucion in collections.comisionados%}

                        <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="vendor-wrap style-2 mb-40">
                                <div class="product-badges product-badges-position product-badges-mrg ">
                                    <span class="hot">Institución</span>
                                </div>
                                <div class="vendor-img-action-wrap">
                                    <div class="vendor-img">
                                        <a href="{{institucion.url}}">
                                            <img class="default-img" src="/assets/imgs/red/elementos/iconos/ICONOS-60.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="vendor-content-wrap w-100">
                                    <div class="mb-30 mt-30">

                                        <div class="overflow-hidden" style="height:60px">
                                            <h4 class="mb-5"><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></h4>
                                        </div>
                                        <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
                                            <ul class="contact-infor text-muted">
                                                <div class="overflow-hidden" style="height:45px">
                                                    <li><p class="text-overflow">{{institucion.data.instituciones.description}}</p></li>
                                                </div>
                                            </ul>
                                            <a href="{{institucion.url}}" class="btn btn-xs">Ver más <i class="fi-rs-arrow-small-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end vendor card-->

                        {% endfor %}
                    </div>

                    <div id="autoridad" class="row vendor-grid">
                        {% for institucion in collections.autoridades%}

                        <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="vendor-wrap style-2 mb-40">
                                <div class="product-badges product-badges-position product-badges-mrg ">
                                    <span class="hot">Institución</span>
                                </div>
                                <div class="vendor-img-action-wrap">
                                    <div class="vendor-img">
                                        <a href="{{institucion.url}}">
                                            <img class="default-img" src="/assets/imgs/red/elementos/iconos/ICONOS-61.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="vendor-content-wrap w-100">
                                    <div class="mb-30 mt-30">

                                        <div class="overflow-hidden" style="height:60px">
                                            <h4 class="mb-5"><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></h4>
                                        </div>
                                        <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
                                            <ul class="contact-infor text-muted">
                                                <div class="overflow-hidden" style="height:45px">
                                                    <li><p class="text-overflow">{{institucion.data.instituciones.description}}</p></li>
                                                </div>
                                            </ul>
                                            <a href="{{institucion.url}}" class="btn btn-xs">Ver más <i class="fi-rs-arrow-small-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end vendor card-->

                        {% endfor %}
                    </div>

                    <div id="consejo" class="row vendor-grid">
                        {% for institucion in collections.consejos%}

                        <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="vendor-wrap style-2 mb-40">
                                <div class="product-badges product-badges-position product-badges-mrg ">
                                    <span class="hot">Institución</span>
                                </div>
                                <div class="vendor-img-action-wrap">
                                    <div class="vendor-img">
                                        <a href="{{institucion.url}}">
                                            <img class="default-img" src="/assets/imgs/red/elementos/iconos/ICONOS-62.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="vendor-content-wrap w-100">
                                    <div class="mb-30 mt-30">

                                        <div class="overflow-hidden" style="height:60px">
                                            <h4 class="mb-5"><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></h4>
                                        </div>
                                        <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
                                            <ul class="contact-infor text-muted">
                                                <div class="overflow-hidden" style="height:45px">
                                                    <li><p class="text-overflow">{{institucion.data.instituciones.description}}</p></li>
                                                </div>
                                            </ul>
                                            <a href="{{institucion.url}}" class="btn btn-xs">Ver más <i class="fi-rs-arrow-small-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end vendor card-->

                        {% endfor %}
                    </div>

                    <div id="defensoria" class="row vendor-grid">
                        {% for institucion in collections.defensorias%}

                        <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="vendor-wrap style-2 mb-40">
                                <div class="product-badges product-badges-position product-badges-mrg ">
                                    <span class="hot">Institución</span>
                                </div>
                                <div class="vendor-img-action-wrap">
                                    <div class="vendor-img">
                                        <a href="{{institucion.url}}">
                                            <img class="default-img" src="/assets/imgs/red/elementos/iconos/ICONOS-64.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="vendor-content-wrap w-100">
                                    <div class="mb-30 mt-30">

                                        <div class="overflow-hidden" style="height:60px">
                                            <h4 class="mb-5"><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></h4>
                                        </div>
                                        <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
                                            <ul class="contact-infor text-muted">
                                                <div class="overflow-hidden" style="height:45px">
                                                    <li><p class="text-overflow">{{institucion.data.instituciones.description}}</p></li>
                                                </div>
                                            </ul>
                                            <a href="{{institucion.url}}" class="btn btn-xs">Ver más <i class="fi-rs-arrow-small-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end vendor card-->

                        {% endfor %}
                    </div>

                    <div id="fondo" class="row vendor-grid">
                        {% for institucion in collections.fondos%}

                        <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="vendor-wrap style-2 mb-40">
                                <div class="product-badges product-badges-position product-badges-mrg ">
                                    <span class="hot">Institución</span>
                                </div>
                                <div class="vendor-img-action-wrap">
                                    <div class="vendor-img">
                                        <a href="{{institucion.url}}">
                                            <img class="default-img" src="/assets/imgs/red/elementos/iconos/ICONOS-63.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="vendor-content-wrap w-100">
                                    <div class="mb-30 mt-30">

                                        <div class="overflow-hidden" style="height:60px">
                                            <h4 class="mb-5"><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></h4>
                                        </div>
                                        <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
                                            <ul class="contact-infor text-muted">
                                                <div class="overflow-hidden" style="height:45px">
                                                    <li><p class="text-overflow">{{institucion.data.instituciones.description}}</p></li>
                                                </div>
                                            </ul>
                                            <a href="{{institucion.url}}" class="btn btn-xs">Ver más <i class="fi-rs-arrow-small-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end vendor card-->

                        {% endfor %}
                    </div>

                    <div id="gobernacion" class="row vendor-grid">
                        {% for institucion in collections.gobernaciones%}

                        <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="vendor-wrap style-2 mb-40">
                                <div class="product-badges product-badges-position product-badges-mrg ">
                                    <span class="hot">Institución</span>
                                </div>
                                <div class="vendor-img-action-wrap">
                                    <div class="vendor-img">
                                        <a href="{{institucion.url}}">
                                            <img class="default-img" src="/assets/imgs/red/elementos/iconos/ICONOS-65.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="vendor-content-wrap w-100">
                                    <div class="mb-30 mt-30">

                                        <div class="overflow-hidden" style="height:60px">
                                            <h4 class="mb-5"><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></h4>
                                        </div>
                                        <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
                                            <ul class="contact-infor text-muted">
                                                <div class="overflow-hidden" style="height:45px">
                                                    <li><p class="text-overflow">{{institucion.data.instituciones.description}}</p></li>
                                                </div>
                                            </ul>
                                            <a href="{{institucion.url}}" class="btn btn-xs">Ver más <i class="fi-rs-arrow-small-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end vendor card-->

                        {% endfor %}
                    </div>

                    <div id="secretaria" class="row vendor-grid">
                        {% for institucion in collections.secretarias%}

                        <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="vendor-wrap style-2 mb-40">
                                <div class="product-badges product-badges-position product-badges-mrg ">
                                    <span class="hot">Institución</span>
                                </div>
                                <div class="vendor-img-action-wrap">
                                    <div class="vendor-img">
                                        <a href="{{institucion.url}}">
                                            <img class="default-img" src="/assets/imgs/red/elementos/iconos/ICONOS-58.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="vendor-content-wrap w-100">
                                    <div class="mb-30 mt-30">

                                        <div class="overflow-hidden" style="height:60px">
                                            <h4 class="mb-5"><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></h4>
                                        </div>
                                        <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
                                            <ul class="contact-infor text-muted">
                                                <div class="overflow-hidden" style="height:45px">
                                                    <li><p class="text-overflow">{{institucion.data.instituciones.description}}</p></li>
                                                </div>
                                            </ul>
                                            <a href="{{institucion.url}}" class="btn btn-xs">Ver más <i class="fi-rs-arrow-small-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end vendor card-->

                        {% endfor %}
                    </div>

                    <div id="coordinadoras" class="row vendor-grid">
                        {% for institucion in collections.coordinadoras%}

                        <div class="col-lg-6 col-md-6 col-12 col-sm-6">
                            <div class="vendor-wrap style-2 mb-40">
                                <div class="product-badges product-badges-position product-badges-mrg ">
                                    <span class="hot">Institución</span>
                                </div>
                                <div class="vendor-img-action-wrap">
                                    <div class="vendor-img">
                                        <a href="{{institucion.url}}">
                                            <img class="default-img" src="/assets/imgs/red/elementos/iconos/ICONOS-66.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="vendor-content-wrap w-100">
                                    <div class="mb-30 mt-30">

                                        <div class="overflow-hidden" style="height:60px">
                                            <h4 class="mb-5"><a href="{{institucion.url}}">{{institucion.data.instituciones.name}}</a></h4>
                                        </div>
                                        <div class="vendor-info d-flex justify-content-between align-items-end mt-30">
                                            <ul class="contact-infor text-muted">
                                                <div class="overflow-hidden" style="height:45px">
                                                    <li><p class="text-overflow">{{institucion.data.instituciones.description}}</p></li>
                                                </div>
                                            </ul>
                                            <a href="{{institucion.url}}" class="btn btn-xs">Ver más <i class="fi-rs-arrow-small-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end vendor card-->

                        {% endfor %}
                    </div>

                </div>
                <div id="container-results">
                    <div class="row vendor-grid" id="row-results">
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer class="main">
        <section class="section-padding footer-mid px-4" style="background:#0b2a4a!important">
            <div class="container pt-15 pb-20">
                <div class="row " style="justify-content:space-between">
                    <div class="col-lg-4 col-sm-12 mb-40">
                        <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 wow animate__animated animate__fadeInUp" data-wow-delay="0">
                            <div class="logo mb-30">
                                <img src="/assets/imgs/logoblanco_Mesa-de-trabajo-1.png">
                            </div>
                            <!--div class="d-flex">
                                <a target="_blank" href="https://www.facebook.com/comisiongaeoficial/"><img class="filter-white" src="/assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                                <a target="_blank" href="https://twitter.com/ComisionGAE"><img class="filter-white" src="/assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                                <a target="_blank" href="https://www.instagram.com/comisiongaeoficial/"><img class="filter-white" src="/assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                            </div-->
                            <!--ul class="contact-infor">
                                <li><img class="filter-white" src="/assets/imgs/theme/icons/icon-location.svg" alt="" /><strong>Dirección: </strong> <span> 4ta Calle 6-17 Zona 1 Guatemala, Guatemala</span></li>
                                <li><img class="filter-white" src="/assets/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Llamános:</strong><span> Teléfono: 2220 5383</span></li>
                                <li><img class="filter-white" src="/assets/imgs/theme/icons/icon-email-2.svg" alt="" /><strong>Correo:</strong><span> info@transparencia.gob.gt</span></li>
                            </ul-->
                        </div>
                    </div>
                    <!--div class="d-flex justify-content-center footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                        <div class="">
                            <h4 class=" widget-title">Centro de Ayuda</h4>
                            <ul class="footer-list mb-sm-5 mb-md-0">
                                <li><a href="/preguntas.html">Preguntas Frecuentes</a></li>
                                <li><a href="/tutoriales.html">Tutoriales</a></li>
                                <li><a href="/quejas.html">Quejas</a></li>
                            </ul>
                        </div>
                    </div-->
                    <div class="footer-link-widget col-lg-4 col-sm-12 wow animate__animated animate__fadeInUp mb-40" data-wow-delay=".2s">
                        <!--h4 class="widget-title">Enlaces de Interés</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a target="_blank" href="https://transparencia.gob.gt/">Comisión de Gobierno Abierto y Electrónico (GAE)</a></li>
                            <li><a target="_blank" href="https://gobiernoabierto.transparencia.gob.gt/">Alianza para Gobierno Abierto Guatemala</a></li>
                            <li><a target="_blank" href="https://www.albakeneth.gob.gt/">Alerta Alba Keneth</a></li>
                            <li><a target="_blank" href="https://cpcc.gob.gt/formulario-alertas-de-corrupcion/">Comisión Presidencial contra la Corrupción</a></li>
                        </ul-->
                        <ul class="contact-infor">
                            <li class="text-white mb-20"><img class="filter-white" src="/assets/imgs/theme/icons/icon-email-2.svg" alt="" /><span> info@transparencia.gob.gt</span></li>
                            <li class="text-white mb-20"><img class="filter-white" src="/assets/imgs/theme/icons/icon-location.svg" alt="" /><span> 4ta Calle 6-17 Zona 1 Guatemala, Guatemala</span></li>
                            <li class="text-white mb-20"><img class="filter-white" src="/assets/imgs/theme/icons/icon-contact.svg" alt="" /><span> +502 2220-5383</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="justify-content:space-between;align-items:center">
                    <div class="col-lg-3 text-center mb-40">
                        <a href="https://creativecommons.org/licenses/by/4.0/"><img style="height:30px" src="/assets/imgs/thumbnail_image001.png"></a>
                        <p>Esta obra está bajo una</p>
                        <a class="link-foot" href="https://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 </a>
                    </div>
                    <div class="col-lg-3 text-center mb-40">
                        <h3 class="text-white">GAE</h3>
                        <p class="text-white">Diseño 2022 por Comisión Presidencial de Gobierno Abierto y Electrónico – GAE –</p>
                    </div>
                    <div class="col-lg-3 text-center mb-40">
                        <a href="https://prensa.gob.gt/comision-presidencial-de-gobierno-abierto-y-electronico-gae"><img style="height:60px" src="/assets/imgs/sala-de-prensa-30.png"></a>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-30 wow animate__animated animate__fadeInUp px-4" data-wow-delay="0">
            <div class="row align-items-center">
                <div class="col-12 mb-30">
                    <div class="footer-bottom"></div>
                </div>
                
                <div class="col-xl-8 col-lg-6 col-md-6 ">
                    <div class="d-flex-responsive align-items-center">
                        <p class="font-sm mb-0">Un proyecto de</p>
                        <a href="https://transparencia.gob.gt/" target="_blank" rel="noopener">
                            <img style="height: 50px; width:auto; margin:0 10px" src="/ELEMENTOS/ELEMENTOS/02_LOGOTIPOS/LogoGAE.png" alt="Logo de Red Ciudanana" height="60" >
                        </a>
                        <p>En colaboración </p>
                        <a href="http://redciudadana.org/" target="_blank" rel="noopener">
                            <img style="height: 50px; width:auto; margin:0 10px" src="https://d33wubrfki0l68.cloudfront.net/69cf2a5d698d1c4d2e0a0cf938a898b63223baa0/e40d9/assets/mi-guatemala/img/logo-rc-color.png" alt="Logo de Red Ciudanana" height="60" >
                        </a>
                        <p>Asociación Civil Red Ciudadana   </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
                    <div class="mobile-social-icon">
                        <h6>Síguenos</h6>
                        <a target="_blank" href="https://www.facebook.com/comisiongaeoficial/"><img src="/assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                        <a target="_blank" href="https://twitter.com/ComisionGAE"><img src="/assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                        <a target="_blank" href="https://www.instagram.com/comisiongaeoficial/"><img src="/assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="/assets/imgs/GIF-ICONOS.gif" alt="" />
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/assets/js/plugins/waypoints.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/counterup.js"></script>
    <script src="/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/assets/js/main.js?v=5.3"></script>
    <script src="/assets/js/shop.js?v=5.3"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"></script>

    <script src="/assets/js/searchI.js"></script>
    <script src="/assets/js/filtroI.js"></script>
</body>

</html>
